.MuiBox-root.css-1xpzen7{
    margin: 0;;
}
.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-1iw8x7s-MuiToolbar-root{
background-color: #536576;

}
h6.MuiTypography-root.MuiTypography-h6.css-zohrii-MuiTypography-root:hover{
    color:#F1C40F ;
}
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover{
    background-color: pink;
    color: black;
}
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:active{
    background-color: pink;
    color: black;
}